@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  background-image: url("./images/blur.jpg");
  backdrop-filter: blur(5px);
  background-size: 200% 250%;
  background-attachment: fixed;
  animation: back 30s infinite alternate linear;
}
@keyframes back {
  from {
    background-size: 100% 100%;
    background-position: -50px 40px;
  }
}
.navBar {
  position: absolute;
  z-index: 5;
  width: 100%;
}

.pageLogo img {
  height: 2rem;
  /* filter: invert(); */
  cursor: pointer;
  margin: 10px;
}
/* navbar ends here */
.corosol {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.showContent {
  text-align: center;
  color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.showContent img {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.showContent #heading {
  font-size: 34px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.showContent #heading span {
  display: block;
}

.showContent #subHeading {
  font-size: 21px;
  color: #191919;
}
.mouseScroll {
    height: 50px;
    padding: 10px;
    animation: mouseDown 1s infinite alternate ease-out;
}
@keyframes mouseDown {
    from{
        transform: translateY(-10px);
    }
}
.mouseScroll img {
  height:100%;
  width: 100%;
}

.tecknology {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 5px;
  margin-top: 20px;
}
.tecknology a {
  text-decoration: none;
  padding: 15px;
}

/* hero section ends here */

.anotherOne {
    
}
.menu {
  text-align: center;
}
.menu p {
  letter-spacing: 1px;
  color: #191919;
  font-size: 22px;
  font-weight: bold;
  position: relative;
}
.menu p:first-child{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: inline-block;
    padding:10px 40px;
    border-radius: 0 0 10px 10px;
}
.menu p:last-child{
    font-size: 14px;
    font-weight:normal;
    margin-bottom: 10px;
    padding:10px 20%;
}
.container {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
}
.container div {
  border-radius: 20px;
  border: 2px solid #fff2;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  height: 25vh;
  position: relative;
}
.container div img {
  height: 100%;
  transition: all 0.2s;
}
.container div p {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}
.container div:hover > img {
  transform: scale(1.05);
  filter: grayscale(70%) ;
}

/* primarily for mobile devices */
@media only screen and (max-width: 650px) {
    .mypic {
        width: 30vw;
        height: 30vw;
    }
    .showContent #heading {
        font-size: 22px;
    }
    .showContent #subHeading {
        font-size: 14px;
    }
    .mouseScroll {
        overflow: hidden;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        opacity: 0.5;
        transform: scale(0.95);
    }
    .mouseScroll img {
        transform:scale(5) translateY(-2.5px);
    }

    /* section second */

    .menu p {
        font-size: 16px;
      }
      .menu p:last-child{
          font-size: 11px;
      }
}
/* for index page when goes out of the frame */
@media only screen and (max-height: 500px) {
}
/* extra small screens */
@media only screen and (max-width: 400px) {
}
