
:root{
    --navColor:#555555;
    --borderColor:rgba(0,0,0,0.5);
    --socialIcon:150px;
    --fontSize:26px;
    --cRadius:5px;
    --subFont:16px;
    --boxheight:45px;
    --boxwidth:250px;
}

body nav.nav_bar{
    background-color: var(--navColor);
    box-shadow:0px 3px 3px rgba(0, 0, 0,0.2);
}

.cC{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}
.cC .cLogo
{
    width: 80px;
    height: 80px;
}
.cC .cContact{
    font-family: var(--font);
    color: var(--navColor);
    font-size: 26px;
    padding:10px 0px;
}
.cC .cData{
    display: flex;
    flex-direction: column;
}
.cC .cData input
{
    font-family: var(--font);
    border: 2px solid var(--borderColor);
    border-radius: 5px;
    height:var(--boxheight);
    width: var(--boxwidth);
    padding-left:18px;
    padding-right:5px;
    font-size: 16px;
    color: var(--navColor);
    margin: 11px 0px;
}
.cC .cData input:hover{
    border: 2px solid var(--navColor);
}
.cC .cData .cNumber{
    display: flex;
    
    justify-content:center;
}
.cC .cData .cNumber .cCode{
    width:60px;
    border-radius: 5px 0px 0px 5px;
    border-right-style: hidden;
}
.cC .cData .cNumber .cNumber{
    padding-left:5px;
    border-radius: 0px 5px 5px 0px;
    width:calc(var(--boxwidth) - 60px);
}
.cC .cData .cSubmit{
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 0;
    margin-top: 20px;
}
.cC .cOther{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: var(--boxwidth);
}
.cC .cOther div *{
    filter: opacity(0.6);
    cursor: pointer;
}

#riple2{
    width: 150%;
    height: 350px;
    background-color: #d2c1b0;
    position: absolute;
    top:-150px;
    z-index: -1;
    transform: rotate(25deg);
}

#riple3{
    width: 150%;
    height: 450px;
    background-color: #d2c1b0;
    position: absolute;
    bottom:-300px;
    left: -350px;
    z-index: -1;
    transform: rotate(25deg);
}