
:root{
    --navColor:#555555;
    --borderColor:rgba(0,0,0,0.5);
    --socialIcon:150px;
    --fontSize:26px;
    --cRadius:5px;
    --subFont:16px;
    --boxheight:45px;
    --boxwidth:250px;
}

body nav.nav_bar{
    background-color: var(--navColor);
    box-shadow:0px 3px 3px rgba(0, 0, 0,0.2);
}
.cleft{
    position: absolute;
    left:100px;
    top:50%;
    transform:translateY(-50%);
}
.cleft .cleftHeader{
    color:var(--navColor);
    font-size: 3vw;
    font-family: var(--font);
    text-align: center;
    font-weight: bold;
    padding: 50px 0px;
}
.cleft img{
    width: 40vw;
    filter: grayscale() opacity(0.8);
}

.cright{
    position: absolute;
    right: 100px;
    top:50%;
    transform: translateY(-50%);
}
.cC{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    padding: 30px;
}
.cC .cLogo
{
    width: 80px;
    height: 80px;
}
.cC .cContact{
    font-family: var(--font);
    color: var(--navColor);
    font-size: 26px;
    padding:10px 0px;
}
.cC .cData{
    display: flex;
    flex-direction: column;
}
.cC .cData input
{
    font-family: var(--font);
    border: 2px solid var(--borderColor);
    border-radius: var(--cRadius);
    height:var(--boxheight);
    width: var(--boxwidth);
    padding-left:18px;
    padding-right:5px;
    font-size: 16px;
    color: var(--navColor);
    margin: 11px 0px;
    opacity: 0.9;
    transition: border 0.2s, box-shadow 0.2s;
}
.cC .cData input:hover{
    border: 2px solid var(--navColor);
    box-shadow: 2px 2px 3px rgba(0, 0, 0,0.3);
}
.cC .cData input:valid{
    color: #000;
}
.cC .cData .cNumber{
    display: flex;
    
    justify-content:center;
}
.cC .cData .cNumber .cCode{
    width:60px;
    border-radius: 5px 0px 0px 5px;
    border-right-style: hidden;
}
.cC .cData .cNumber .cNum{
    padding-left:5px;
    border-radius: 0px 5px 5px 0px;
    width:calc(var(--boxwidth) - 60px);
}
.cC .cData .cSubmit{
    background-color: red;
    padding: 0;
    margin-top: 20px;
    color:#fff !important;
    cursor: pointer;
    transition: background-color 0.1s;
}
.cC .cData .cSubmit:active{
    background-color: var(--navColor);
}
.cC .cOther{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: var(--boxwidth);
    opacity: 0.6;
}
.cC .cOther div *{
    filter:drop-shadow(1px 1px 1px #000000);
    cursor: pointer;
}




/* background style  */
#riple2, #riple3{
    width: 150%;
    height: 400px;
    position: absolute;
    background-color: #d2c1b0;
    z-index: -1;
    transform: rotate(25deg);
}
#riple2{
    top:-150px;
}

#riple3{
    bottom:-300px;
    left: -350px;
}