@media only screen and (max-width:650px){
    
    .nav_bar {
        
        position: fixed;
        left:0px;
        height: 100vh;
        width: 50px;
        padding-left: 10px;
        z-index: -1;
    }
    .nav_bar .navTitle{
        display: none;
    }
    .nav_bar .menus {
        flex-direction: column;
    }
    .nav_bar .menus p{
        display: none;
    }
    .headline{
        font-size: .7em;
    }
}
@media only screen and (max-height:500px){
    
    .headline{
        font-size: .6em;
        transform: translateY(-30px);
    }
}