@media only screen and (max-width:650px){
    :root{
        --rightSection:auto !important;
    }
    html, body {
        overflow-x: hidden !important;
        width: 100dvw !important;
        height: 100dvh !important;
    }
    .nav_bar div.navTitle{
        display:none;
    }
    .nav_bar div.menus{
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .aboutBody{
        top: 50%;
        flex-direction: column-reverse;
    }
    .bounce {
        font-size: 2.2em;
    }
    
    .colored {
        font-size: 2.4em;
    }
    .aboutPart{
        width: calc(90% + 20px);
        padding: 10px;
        font-size: 1em;
    }
    .aboutLeft div:first-child p{
        text-align: center;
        border-radius: 0 0 10px 10px;
        box-shadow: 2px 2px 0 white,  
            -2px 2px 0 white,
            0 5px 5px #0005;

    }
    .aboutRight{
        transform: scale(0.8);
    }
    .headline{
        font-size: 10px;
        left:30px;
        top:250px;
    }
    .experience .company{
        width:calc(50% - 5px);
    }
    .experience .company div{
        font-size: 1em;
        width: 80%;
        margin-left: 20%;
    }
    .experience .desc{
        font-size: 1em;
        text-align: left;
        width:calc(50% - 5px);
    }
    .experience .desc div{
        width: 80%;
    }
    /* home text section */
    

    div.botSection{
        overflow-y: hidden;
        transform: scale(1);
        bottom: 50px;
    }
    div.botSectionLeft{
        flex-direction: row;
    }
    div.botSectionLeft div ol{transform: scaleX(0.8) translateX(-10px)}
    div.botSectionLeft div p{font-size: 12px;text-align: center;}


    /* for contact page
    ---------------- */
    section.cleft{
        display: none;
    }
    section.cC{
        background-color: rgba(238, 238, 238, 0.5);
        backdrop-filter: blur(2px);
        border: 2px solid rgba(255, 255, 255,0.8);
        border-radius: 15px;
        height: 80%;
        margin:25px;
    }
    div.cright{
        position: static;
        transform: translateY(10%);
    }
    .resumeDownload{
        width: 80px;
        transform: scale(0.8);
    }
    #logoBack{
        font-size: 100vw;
    }
        /* blog screen styels */
    /* ************************ */
    .blog-Area{
        margin: 20px 2%;
    }
    .blog-heading p:first-child{
        font-size: 28px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
.blog-heading p:last-child{
    text-align: center;
    color: rgb(225, 225, 225);
    letter-spacing: 2px;
}
    .blog-big{
        flex-direction: column;
    }
    .blog-big-left{
        width: 100%;
        margin-bottom: 20px;
    }
    div.blog-big-right-content{
        margin-bottom: 5px;
    }
    .blog-container-sm{
        max-width: 180px;
        margin: 0;
        margin-bottom: 5px;
    }
}
/* for index page when goes out of the frame */
@media only screen and (max-height:500px){
   
    .headline{
        font-size: .6em;
        transform: translateY(-100px);
    }
}
@media only screen and (max-width:400px){
    .blog-content-lists{
        justify-content: center;
    }
    .blog-container-sm{
        max-width: fit-content;
        margin: 0;
        margin-bottom: 5px;
    }
}
