@media only screen and (max-width:650px){
    :root{
        --rightSection:auto !important;
    }
    
    .nav_bar div.navTitle{
        display: none;
    }
    .nav_bar div.menus{
        width: 100%;
        display: flex;
        justify-content: space-around;
        
    }
    .headline{
        font-size: .7em;
        left:30px;
        top:250px;
    }
    /* home text section */
    

    div.botSection{
        transform: scale(1);
    }
    div.botSectionLeft{
        flex-direction: column;
        align-items: center;
        
    }

    /* for contact page
    ---------------- */
  
    div.cRContainer div.righttop p.topic{
        font-size: calc(var(--fontSize) - 5px);
        letter-spacing: 1px;
    }
    div.cRContainer div.righttop p.topicID{
        font-size: calc(var(--subFont) - 5px);
        letter-spacing: 1px;
    }
    div.cRContainer .rContant div.SubmitButton{
        transform: scale(0.6);
    }
}
/* for index page when goes out of the frame */
@media only screen and (max-height:500px){
    
    .headline{
        font-size: .6em;
        transform: translateY(-100px);
    }
}
