@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
:root {
    --navTitleLeft: 100px;
    --font:'Iceland', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:#fff;
    /* cursor: none !important; */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:link,
a:visited {
    text-decoration: none;
}

body {
    background: linear-gradient(229deg, #636363, #202020);
    /* background-size: 400% 400%; */
    animation: backgroundAni 40s linear infinite alternate;
    background-image: url(./Extras/red.png); 
}
.indexBody{
    overflow: hidden;
}

@keyframes backgroundAni {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 10% 5%
    }
    100% {
        background-position: 0% 0%
    }
}

#riple {
    height: 20px;
    width: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: 1px solid red;
    top: -20px;
    transform: translate(-50%, -50%);
    opacity: .5;
    mix-blend-mode: lighten;
    pointer-events: none;
    transition: .05s;
    animation: ripleEffect .2s infinite ease;
}

#riple::before {
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: red;
}
#logoBack
{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(5deg) ;
    font-size: 70vw;
    opacity: 0;
    font-family: 'Iceland', cursive;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
    color:rgb(255, 0, 0);
    animation: backchar 5s 1 alternate 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes backchar {
    to{
        text-shadow: 25px 25px 0px white;
        opacity:0.15;
    }
}

.nav_bar * {
    font-family: Iceland;
}

.nav_bar {
    background-color: #000;
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    z-index: 1 !important;
    animation: navbar .2s 1 ease-in 2s forwards;
}

/* nav bar title style */

.nav_bar .navTitle p {
    color: white;
    font-size: 3em;
    position: absolute;
    left: var(--navTitleLeft);
    cursor: pointer;
}

.nav_bar .navTitle p:nth-child(1) {
    color: red;
    z-index: 1;
}

.nav_bar .navTitle p:nth-child(2) {
    z-index: 2;
    left: calc(var(--navTitleLeft) + 2px);
    top: -1px;
}

.nav_bar .navTitle p:nth-child(3) {
    z-index: 3;
    left: calc(var(--navTitleLeft) + 4px);
    top: -2px;
}

.nav_bar .navTitle p:nth-child(4) {
    z-index: 4;
    left: calc(var(--navTitleLeft) + 6px);
    top: -3px;
}


/* ****************** */

.nav_bar .menus {
    display: flex;
    justify-content: space-around;
}

.menus .menuItems {
    height: 45px;
    z-index: 1;
}

.nav_bar .menus .menuItems p {
    padding: 5px 30px;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 3px;
    color: #fff;
    transition: .5s;
    font-family: 'La Belle Aurore', cursive;
}

.nav_bar .menus .menuItems p:hover {
    color: red;
}

.nav_bar .menus svg {
    position: relative;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    display: none;
}

.nav_bar .menus svg path{
    stroke:white;
}


/* =========================== */

.headline {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-70%);
}

.headline div * {
    display: inline-block;
    visibility: hidden;
    user-select: none;
}

.bounce {
    font-size: 4em;
    /* font-family: 'La Belle Aurore', cursive; */
    font-family: 'Iceland', cursive;
    cursor: default;
}

.colored {
    color: #ff0000;
    font-size: 4.5em;
    text-shadow: -4px 0px 1px #fff;
}

.subheadline {
    color: #fff;
    font-size: 1em;
    opacity: 0;
    margin: 15px 0px;
    letter-spacing: 5px;
    font-family: 'La Belle Aurore', cursive;
    text-shadow: 0px 0px 0px white;
    animation: subheading 2s infinite 2s alternate ease-in-out;
}
@keyframes subheading {
    to {
        opacity: .6;
        text-shadow: 0px 0px 5px white;
    }
}
/* Bottom section of home page */
.botSection{
    
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0); 
    position: absolute;
    padding:5px 0px;
    left:0px;
    bottom: 0px;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 0px;
    width: 0px;
}


.botSection::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
}
.botSectionLeft, .botSectionRight{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/* Bar seperator */
.botSection .horiBar{
    /* background-image: linear-gradient(to top, red, green, yellow); */
    background-color:rgb(0, 0, 0);
    height:100%;
    width: 2px;
    box-shadow: 0px 0px 2px  rgb(255, 255, 255);
    /* mix-blend-mode:overlay; */

}
.botSection div p {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'La Belle Aurore', cursive;
}
.botSection div ol{
    padding:5px 0px;
    font-family: Iceland;
    letter-spacing: 2px;
}
.botSection div ol li{
    list-style: none;
    font-size: 12px;
}

.botSection div ol li div{
    width: 100%;
    height:2px;
    background-color: red;
    margin:5px 0px;
}
.botSection div ol li div::before{
    content:"";
    background-color: rgb(99, 99, 99);
    position: absolute;
    height: 2px;
    width: 200px;
    z-index: -1;
}

.botSection div .contactBtn:active{
    box-shadow: 0 0 1px red;
}
.botSection div.otherPlaces div
{
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
   
}
.botSection div.otherPlaces div img{
    filter: invert();
    transition: all .2s;
}
.botSection div.otherPlaces div img:active{
    transform: scale(1.2)
}

/* contact Button at the end */

.botSection div .contactBtn{
    text-align: center;
    padding: 5px 0px;
    border: 1px solid white;
    margin: 15px 0px;
    float: right;
    width:110px;
    letter-spacing: 5px;
    color: #fff;
    font-family: 'Iceland', cursive;
    font-weight:bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition:all 0.5s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.botSection div .contactBtn:hover{
    background-color: #fff;
    color: rgb(255, 0, 0);
    box-shadow: 0 0 5px red;
}
.botSection div .contactBtn::after{
    content:'';
    position: absolute;
    left:110px;
    top: 0px;
    width:300%;
    height:100%;
    border-radius: 5px;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.8), rgba(255, 206, 134, 0.8));
}




/* *****************---*************
Extra object  */

.triangle *{
    height: 50px;
    width:150%;
    left:-10px;
    position: absolute;
    background-color: rgb(255, 0, 0);
    z-index: -4;
    opacity: 0.05;
    filter: blur(10);
}
div.triangle .a{
    transform:skew(5deg, 170deg);
}
div.triangle .b{
    top:40%;
    height: 80px;
    opacity:0.1;
    transform:skew(5deg, 170deg);
}



/* 
Animation data Area */

/* bottom section animation */


/* animaiton delay variable */
:root{
    --firstAni:3s;
}


.botSection{
    height:150px;
    bottom:0px;
    width: 100%;
} 
    