@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
:root {
    --navTitleLeft: 100px;
    --font:'Iceland', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color:#fff;
    /* cursor: none !important; */
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input:focus{
    outline: none;
}
a:link,
a:visited{
    text-decoration: none;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
    /* overflow: hidden; */
}

#riple {
    height: 20px;
    width: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    border: 1px solid red;
    top: -20px;
    transform: translate(-50%, -50%);
    opacity: .5;
    mix-blend-mode: lighten;
    pointer-events: none;
    transition: .05s;
    animation: ripleEffect .2s infinite ease;
}

#riple::before {
    content: '';
    height: 5px;
    width: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: red;
}
#logoBack
{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(5deg) ;
    font-size: 70vw;
    opacity: 0;
    z-index: 5;
    font-family: 'Iceland', cursive;
    text-shadow: 0px 0px 0px rgb(255, 255, 255);
    color:rgb(255, 0, 0);
    animation: backchar 5s 1 alternate 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes backchar {
    to{
        text-shadow: 25px 25px 0px white;
        opacity:0.15;
    }
}



.nav_bar {
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px rgba(255, 26, 26, 0.344);
    display: flex;
    top: 0px;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0.98);
    z-index: 5 !important;
    position: absolute;
    width: 100%;
    animation: navbar 0.5s 1 ease-in 0.5s forwards;
}
@keyframes navbar {
    to{
        transform: scale(1);
        opacity:1;
    }
}
.nav_bar * {
    font-family: Iceland;
}


/* nav bar title style */

.navTitle img{
    margin-top: 2px;
    height:40px;
    position: absolute;
    left: var(--navTitleLeft);
    cursor: pointer;
    background-color: #ffffff00;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
.nav_bar .navTitle p{
    font-size: 25px;
    position:absolute;
    left:150px;
    top:10px;
    cursor: pointer;
    
}


/* ****************** */

.nav_bar .menus {
    display: flex;
    justify-content: space-around;
}

.menus .menuItems {
    height: 45px;
    z-index: 1;
}

.nav_bar .menus .menuItems p {
    padding: 5px 30px;
    margin: 5px 0px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 3px;
    color: #fff;
    transition: .5s;
    font-family: 'La Belle Aurore', cursive;
}

.nav_bar .menus .menuItems p:hover {
    color: red;
}

.nav_bar .menus svg {
    position: relative;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    display: none;
}

.nav_bar .menus svg path{
    stroke:white;
}
.mainFrame{
    position: absolute;
    left: 0px;
    width: 0px;
    width: 100%;
}

.heroSection{
    position: relative;
    height: 100vh;
    background: linear-gradient(229deg, #636363, #202020);
    /* background-size: 400% 400%; */
    animation: backgroundAni 40s linear infinite alternate;
    background-image: url(./Extras/red.png); 
}

@keyframes backgroundAni {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 10% 5%
    }
    100% {
        background-position: 0% 0%
    }
}


/* =========================== */

.headline {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-70%);
}

.headline div * {
    display: inline-block;
    visibility: hidden;
    user-select: none;
}

.bounce {
    font-size: 4em;
    /* font-family: 'La Belle Aurore', cursive; */
    font-family: 'Iceland', cursive;
    /* color:blue; */
    cursor: default;
}

.colored {
    color: #ff0000;
    font-size: 4.5em;
    text-shadow: -4px 0px 1px #fff;
}

.subheadline {
    color: #fff;
    font-size: 1em;
    opacity: 0;
    margin: 15px 0px;
    letter-spacing: 5px;
    font-family: 'La Belle Aurore', cursive;
    text-shadow: 0px 0px 0px white;
    animation: subheading 2s infinite 2s alternate ease-in-out;
}
@keyframes subheading {
    to {
        opacity: .6;
        text-shadow: 0px 0px 5px white;
    }
}
/* Bottom section of home page */
.botSection{
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0); 
    background: inherit;
    position: absolute;
    left:0px;
    bottom: 0;
    padding-top: 10px;
    height:170px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
.botSection::before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(2px);
}
.botSectionLeft, .botSectionRight{
    display: flex;
    justify-content: space-around;
    width: 100%;
    backdrop-filter: blur(2px);
    background-image:linear-gradient(to top, #0000,rgba(255, 0, 0, 0.267) , #fff0);
}
/* Bar seperator */
.botSection .horiBar{
    /* background-image: linear-gradient(to top, red, green, yellow); */
    background-color:rgb(0, 0, 0);
    height:100%;
    width: 2px;
    box-shadow: 0px 0px 2px  rgb(255, 255, 255);
}
.botSection div p {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'La Belle Aurore', cursive;
}
.botSection div ol{
    padding:5px 0px;
    font-family: Iceland;
    letter-spacing: 2px;
}
.botSection div ol li{
    list-style: none;
    font-size: 12px;
}

.botSection div ol li div{
    width: 100%;
    height:2px;
    background-color: red;
    margin:5px 0px;
}
.botSection div ol li div::before{
    content:"";
    background-color: rgb(99, 99, 99);
    position: absolute;
    height: 2px;
    width: 200px;
    z-index: -1;
}

.botSection div .contactBtn:active{
    box-shadow: 0 0 1px red;
}
.botSection div.otherPlaces div
{
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
   
}
.botSection div.otherPlaces div img{
    filter: invert();
    transition: all .2s;
}
.botSection div.otherPlaces div img:active{
    transform: scale(1.2)
}

/* contact Button at the end */

.botSection div .contactBtn{
    text-align: center;
    padding: 5px 0px;
    border: 1px solid white;
    margin: 15px 0px;
    float: right;
    width:110px;
    letter-spacing: 5px;
    color: #fff;
    font-family: 'Iceland', cursive;
    font-weight:bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition:all 0.5s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    opacity: 1;
}
.botSection div .contactBtn:hover{
    background-color: #fff;
    color: rgb(255, 0, 0);
    box-shadow: 0 0 5px red;
}
.botSection div .contactBtn::after{
    content:'';
    position: absolute;
    left:110px;
    top: 0px;
    width:300%;
    height:100%;
    border-radius: 5px;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.8), rgba(255, 206, 134, 0.8));
}

/* pageSecond */

.pageSecond{
    position: relative;
    background-color: rgb(255, 48, 48);
    height: 100dvh;
}
.pageSecond .headline{
    background-color: #202020;
    padding: 2px 20px 10px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 0px white;
}

.pageSecond .experience{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
}
.experience .company{
    width:calc(50% - 10px);
}
.experience .company div{
    text-align: right;
    padding-right: 10px;
}
.experience .bar{
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.experience .desc{
    text-align: left;
    width:calc(50% - 10px);
}
.experience .desc div{
    text-align: left;
    padding-left: 10px;
}

/* *****************---*************
Extra object  */
div.triangle{
    display: none;
    position: absolute;
    height: 100%;
    width:100%;
    background-color: red;
    overflow: hidden;
}
.triangle *{
    height: 50px;
    width:100%;
    left:0;
    position: absolute;
    background-color: rgb(255, 0, 0);
    opacity: 0.05;
    z-index: 51;
    filter: blur(10);
}
div.triangle .a{
    transform:skew(5deg, 170deg);
}
div.triangle .b{
    top:40%;
    height: 80px;
    opacity:0.1;
    transform:skew(5deg, 170deg);
}
/* downloadable content */
/* ************************* */
.resumeDownload{
    position: absolute;
    top: 60px;
    right:40px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius:50px;
    overflow: hidden;
    width: 36px;
    transition: width 0.2s;
    animation: resumeDown 0.5s 1 ease-in 1s forwards;
}
@keyframes resumeDown {
    to{
        right:20px;
    }
}
.resumeDownload:hover{
    width: 80px;
}
.resumeDownload div{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    padding:0 5px 0 2px;
}
.resumeDownload p{
    font-family: var(--font);
    font-size: 22px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    padding-left: 5px;
}
.resumeDownload a{
    position: relative;
    top:2px;
    cursor: pointer;
}
.resumeDownload img{
    height:30px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 50%;
    animation: downloadPic 1s infinite alternate-reverse ease-out;
}
@keyframes downloadPic {
    to{
       filter:grayscale();
       transform:scale(1.2);
    }
}