@media only screen and (max-width:900px){
    :root{
        --rightSection:auto !important;
    }
    .nav_bar .menus svg {
       display: block;
       transition: .2s;
    }

    /* icon active data  */
    .menus #active svg{
        transform: scale(1.5) translateX(-5px);
        fill:rgb(252, 70, 70);
    }

    /* menu hover */

    .nav_bar .menus svg:hover{
        transform: scale(1.5) translateX(-5px);
    }
    .menus p{
        color:transparent !important;
    }

    /* contact style */

    body{
        overflow:scroll;
    }
    section.cC{
        display: block;
        top:0px;left: 0px;
        transform: none;
        padding: 50px;
        width: 100%;
    }
    
    div.cRContainer{
        width: auto;
    }
    .cRContainer .rContant .rInputBoxes{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }
    .rContant .rInputBoxes .rInputBoxesLeft{
        margin-right:0px !important;
    }
    .rContant .rInputBoxes .rInputBoxesRight textarea{
        width: 100%;
        height:150px !important;
    }
    .rContant div.SubmitButton{
        float: none;
        text-align: center;
    }
}
