@media only screen and (max-width:900px){
    .nav_bar .menus svg {
       display: block;
       transition: .2s;
    }

    /* icon active data  */
    .menus #active svg{
        transform: scale(1.5) translateX(-5px);
        fill:rgb(252, 70, 70);
    }

    /* menu hover */

    .nav_bar .menus svg:hover{
        transform: scale(1.5) translateX(-5px);
    }
    .menus p{
        color:transparent !important;
    }
}