@media only screen and (max-width:900px){
    :root{
        --rightSection:auto !important;
    }
    .nav_bar .menus svg {
       display: block;
       transition: .2s;
    }

    /* menu hover */

    .nav_bar .menus svg:hover{
        cursor: pointer;
        transform: scale(1.2) translateX(-10px);
    }
    .menus p{
        color:transparent !important;
    }

    /* bottom section of homepage */
    div.botSection{
        /* display: none; */
    
        padding:3px;
        transform: scale(0.9);
        flex-direction: column;
        height: fit-content;
    }
    div.horiBar{display: none;}
   

    /* contact style */
